.ant-layout-content {
  overflow: auto;
}

#layout {
  height: 100vh;

  .ant-layout-header {
    user-select: none;
    background: #fff;
    padding: 0;
    line-height: 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    //box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    ul {
      border-bottom: none;
      flex: 1 0;
      background: unset;
      max-width: 50%;

      li {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0px;
        top: 0;
        height: 100%;
        line-height: 4rem;
      }
    }

    .left-menudrawer {
      color: #fff;

      :hover {
        color: darken(#fff, 6%);
      }
    }

    .wap-menu {
      display: none;
      visibility: hidden;

      .action-more {
        width: 3rem;
        text-align: center;
        height: 100%;
        padding: 0;
      }
    }
  }

  .logo {
    padding: 16px;
    text-align: center;
    box-sizing: content-box;
    transition: all .2s;
    line-height: 1.4;
    background: initial;
    color: #FFF;
    cursor: pointer;

    .logo-img {
      width: 30px;
      transition: all .2s;
    }

    .title {
      color: inherit;
      font-size: 20px;
      position: relative;

      .version {
        color: inherit;
        font-size: 14px;
      }
    }
  }

  .right-menu {
    color: #FFF;
    display: flex;
    flex: 1 0;
    justify-content: flex-end;

    .action {
      cursor: pointer;
      transition: all .2s;
      padding: 0 6px;

      .anticon {
        font-size: 16px;
        color: #FFF;
      }

      .action-item {
        padding: 0 12px;
        height: 100%;
        position: relative;

        &.user-info {
          .ant-avatar {
            margin-right: 0.5rem;
          }
        }
      }

      &:hover {
        background: rgba(0, 0, 0, .08);
        //background: #e6f7ff;
      }

      &.action-avatar {
        padding: 0;
      }

      &.action-organization {
        //min-width: 200px;
        text-align: center;
      }
    }
  }

  .ant-layout-sider {
    user-select: none;
    z-index: 3;
    width: 256px;
    max-width: 256px;
    height: 100vh;
    position: fixed;
    left: 0;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);

    &.ant-layout-sider-collapsed {
      .logo {
        .title {
          display: none;
        }
      }
    }

    .ant-layout-sider-zero-width-trigger {
      bottom: 8rem;
      top: auto;
      right: -42px;
      width: 42px;
      color: initial;
      box-shadow: #eaeaea 2px 1px 2px 1px;
      background: #ffffff;
      border-radius: 0 0.8rem 0.8rem 0;
    }
  }

  .maint-content {
    .ant-layout-content {
      border-top: 1px solid #e8e8e8;
    }
  }

  .main-content {
    &.toleft {
      padding-left: 200px;
    }
  }

  .ant-layout-footer {
    margin: 0 6px;
    padding: 0 50px 12px 50px;
  }

  .ant-layout-header.collapsed {
    .logo {

      .title {
        display: none;
      }
    }
  }

  &.layout-light {
    .ant-layout-header {
      //background-color: #2b83f9;
      //background-image: linear-gradient(143deg,#2945cb 20%,#2b83f9 81%,#3a9dff);
      //background-image: linear-gradient(143deg, #2945cb 20%, #1890ff 81%, #3a9dff);
      background-image: linear-gradient(143deg, #e12f3f 20%, #f79275 81%, #FFC107);
      border-bottom: none;

      ul {

        li {
          border-bottom: none;

          span,
          i {
            color: #FFF;
            //opacity: .69;
          }

          &:hover {

            span,
            i {
              opacity: 1;
            }
          }

          &.ant-menu-item-selected,
          &.ant-menu-item-active {
            color: #1890ff;
            background: rgba(0, 0, 0, 0.08);
          }
        }
      }
    }

    .ant-layout-sider {
      background: #FFF;

      .ant-layout-sider-children {

        .ant-menu-inline,
        .ant-menu-vertical,
        .ant-menu-vertical-left {
          border-right: none;
        }
      }
    }

    .logo {
      .title {
        color: inherit;

        .version {
          color: inherit;
        }
      }
    }

    .ant-layout-sider-trigger {
      background: #FFF;
      color: inherit;
    }
  }

  &.layout-dark {
    .ant-layout-header {
      background-color: #fff;
      background-image: none;

      ul {}
    }

    .logo {
      background: #002140;
      border-bottom: 1px solid #002140;
      box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
    }

    .left-menudrawer {
      color: initial;
    }

    .ant-layout-sider {
      box-shadow: 2px 0 6px rgba(0, 21, 41, .35);

      .ant-layout-sider-zero-width-trigger {
        color: #fff;
        background: #002140;
      }
    }

    .right-menu {
      color: initial;

      .action {
        .anticon {
          color: initial;
        }

        .action-item {
          &.user-info {
            .ant-avatar {}
          }
        }

        &:hover {
          background: rgba(0, 0, 0, .025);
          //background: #e6f7ff;
        }

        &.action-avatar {}

        &.action-organization {}
      }
    }

  }

  header {
    .ant-menu {
      //-webkit-box-shadow: 0 1px 4px rgba(0,21,41,.08);
      //box-shadow: 0 1px 4px rgba(0,21,41,.08);
    }
  }

  &.hide {
    .ant-layout-sider {
      display: none;
    }

    .main-content {
      padding-left: 0 !important;
    }
  }

  .trigger {
    user-select: none;
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .2s;

    &:hover {
      color: #1890ff;
    }

  }
}

.middle-menu {
  user-select: none;
  padding: 4px 0;

  .ant-dropdown-menu-item-divider,
  .ant-dropdown-menu-submenu-title-divider {
    margin: 4px 0;
  }

  .ant-dropdown-menu-item {
    width: 160px;
  }

  &.organization-menu {
    .ant-dropdown-menu-item {
      width: 100%;
    }
  }
}

.__vuescroll .__rail-is-vertical {
  z-index: 3;
}

@media (max-width:768px) {
  #layout {
    .main-content.toleft {
      padding-left: 0px;
    }


    .ant-layout-sider-zero-width-trigger {
      visibility: hidden;
    }

    .ant-layout-header {
      .logo {
        .title {
          display: none;
        }
      }

      .pc-view {
        white-space: nowrap;
        display: none;

        .action-notice {
          display: none;
        }
      }

      .wap-menu {
        display: block;
        visibility: visible;
        flex: 0;
      }
    }
  }
}