.text-default {
  color: #383838;
}
.layout {
  /*width: 1200px !important;*/
  margin: auto;
  background: #efeff4;
}
.page-content {
  top: 60px;
  bottom: 0;
  position: fixed;
  width: 100%;
  overflow-x: auto;
}
.wrapper-content {
  padding: 0 0 0 200px;
  /*margin-left: 240px;*/
  margin-top: 60px;
  position: absolute;
  width: 100%;
}
.layout-content {
  min-height: 200px;
  padding: 25px 20px;
  overflow: hidden;
  background: #fff;
}
.layout-copy {
  text-align: center;
  padding: 10px 0 20px;
  color: #9ea7b4;
}
/*Slide*/
.ivu-menu-item-active .ivu-menu-submenu-title {
  color: #2d8cf0;
  font-weight: 700;
}
